@model Model.EF.Post
@{
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = Model.MetaKeywords;
    ViewBag.Description = Model.MeteDescriptions;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var category = (Model.EF.PostCategory)ViewBag.Category;
    var relatedPosts = (List<Model.EF.Post>)ViewBag.RelatedPosts;
}
<div class="content">
    @*<div class="content_top">
            <div class="back-links">
                <p><a href="/">Trang Chủ</a> >>>> <a href="/Post/@category.MetaTitle-@category.ID">@category.Title</a></p>
            </div>
            <div class="clear"></div>
        </div>*@
    <section class="elementor-element elementor-element-275372a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
                <div class="elementor-element elementor-element-67091cbb elementor-column elementor-col-100 elementor-top-column" data-element_type="column">
                    <div class="elementor-column-wrap  elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element elementor-element-102178eb elementor-grid-2 elementor-posts--align-center elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-posts--show-avatar elementor-card-shadow-yes elementor-posts__hover-gradient elementor-widget elementor-widget-posts" data-widget_type="posts.cards">
                                <div class="elementor-widget-container">
                                    <div class="elementor-11012 elementor-element elementor-element-102178eb elementor-posts-container">
                                        <article class="elementor-post elementor-grid-item post-808 post type-post status-publish format-standard has-post-thumbnail hentry category-content-marketing tag-freelance-writing">
                                            <div class="elementor-post__card">
                                                <a class="elementor-post__thumbnail__link">
                                                    <div class="elementor-post__thumbnail">
                                                        <img src="@Model.Image" alt="@Model.Title" /><noscript><img src="@Model.Image" alt="@Model.Title" /></noscript>
                                                    </div>
                                                </a>
                                                @*<div class="elementor-post__avatar">
                                                        <img src="@item.Image" alt="@item.Title" /><noscript><img src="@item.Image" alt="@item.Title" /></noscript>
                                                    </div>*@
                                                <div class="elementor-post__text">
                                                    <h1 class="elementor-post__title">
                                                        <a>@Model.Title</a>
                                                    </h1>
                                                </div>
                                                <div class="elementor-post__meta-data">
                                                    <span class="elementor-post-author">
                                                        Jon Morrow
                                                    </span>
                                                    <span class="elementor-post-avatar">
                                                        257 Comments
                                                    </span>
                                                </div>
                                                <div class="content">
                                                    <p>@Model.Content</p>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default',
                width: 'auto',
                fit: true
            });
        });</script>
    <div class="content_bottom">
        <div class="heading">
            <h3>Bài Đăng Liên Quan</h3>
        </div>
        <div class="see">
            <p><a href="/Post">Xem Tất Cả</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in relatedPosts)
        {
            var url = "/Detail/" + item.MetaTitle + "-" + item.ID;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img src="@item.Image" alt=""></a>

                <div class="clear"></div>
            </div>

        }
    </div>
</div>
<div class="rightsidebar span_3_of_1">
    @{ Html.RenderAction("PostCategory", "Post");}
</div>
    </div>
</div>

