@model PagedList.IPagedList<Model.EF.Content>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sách tin tức
}

@section jsFooter{
}

<div class="card shadow mb-4">
    <div class="card-body">
        @using (Html.BeginForm("Index", "Content", FormMethod.Get))
        {
            <div class="row form-group">
                <div class="col-lg-12">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                        :
                        <input type="text" value="@ViewBag.SearchString" name="searchString" />
                        <label>
                            <a class="btn btn-primary " href="/Admin/Content/Create">THÊM MỚI</a>
                        </label>
                    </div>
                </div>
            </div>

        }
        <hr />

        <div class="table-responsive">
            <div class="col-sm-12">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th rowspan="1" colspan="1">Tiêu đề</th>
                            <th rowspan="1" colspan="1">Hình ảnh</th>
                            <th rowspan="1" colspan="1">Ngày đăng</th>
                            <th rowspan="1" colspan="1">Trạng thái</th>
                            <th rowspan="1" colspan="1">#</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th rowspan="1" colspan="1">Tiêu đề</th>
                            <th rowspan="1" colspan="1">Hình ảnh</th>
                            <th rowspan="1" colspan="1">Ngày đăng</th>
                            <th rowspan="1" colspan="1">Trạng thái</th>
                            <th rowspan="1" colspan="1">#</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.ID">
                                <td>@item.Name</td>
                                <td><img src="@item.Image" width="100"/></td>
                                <td>@item.CreatedDate</td>
                                <td><a href="#" class="btn-active" data-id="@item.ID">@(item.Status ? "Kích hoạt":"Khóa")</a></td>
                                <td>
                                    <a href="/Admin/Content/Edit/@item.ID">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này?",
                                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <hr />
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = ViewBag.SearchString }))
            </div>
        </div>
    </div>
</div>
